---
layout: default.njk
permalink: "/{{ page.date | date: '%Y-%m-%d-' }}{{page.fileSlug}}/"
---
<main class="container p-4">
  <header class="mt-4 mb-6">
    <h1 class="text-4xl text-red-400 font-bold mb-2">{{ title }}</h1>
    <time class="block text-xl text-gray-400 dark:text-gray-300" datetime="{{ date }}">{{ date.toDateString() }}</time>
  </header>
  <article>
    {{ content | safe }}
  </article>
</main>