<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {%- if site.author -%}
        {{ site.author | escape }}
        {%- endif -%}
        <img class="author" src="https://www.gravatar.com/avatar/491d582934f6a265e4cf31df850d7686?s=150"
          alt="Jamie Evawin" />
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>